html, body {
    height: 100%;
    background: rgb(29, 27, 77);
    color: #fff;
    font-family: Helvetica;
    overflow: hidden;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.social {
	margin-top: 20px;
}
img {
	display: inline-block;
}
a:link, a:visited {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	padding: 4px;
	border-radius: 4px;
}
a:hover {
	color: #fff;
	background: #fff;
	color: rgb(29, 27, 77);
	text-decoration: none;
}